body {
    background-color:#C6D4C2;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height:1.6;
    color:#000000;
    padding: 0px;
    font-size: 20px;
}
.featured-scroll {
    background-color: #F7F1DE;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.featured-scroll img {
    padding: 10px;
}

.popular {
    background-color: #F7F1DE;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.popular img {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #C4A484;
    height: 46px;
    position: relative;
    align-items: center;
  
}
header input {
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 26px;
    border-radius: 10px;
    border: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}
#logo {
    border-radius: 20px;
    background-color: #C4A484;
    opacity: 90%;
}

header img{
    margin:5px;
}